/* NavBar.css */

/* Navbar styling */
.navbar {
  background-color: #343a40; /* Dark background color */
  padding: 15px 0; /* Adjust the padding as needed */
}

.navbar-brand {
  color: #ffffff; /* Navbar brand text color */
  font-size: 1.5rem; /* Adjust the font size as needed */
}

.navbar-toggler {
  border: 1px solid #ffffff; /* Navbar toggler border color */
}

.navbar-toggler-icon {
  background-color: #ffffff; /* Navbar toggler icon color */
}

/* Navbar links styling */
.navbar-nav {
  margin-left: auto; /* Move the navbar links to the right */
}

.navbar-nav li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 15px; /* Adjust the margin between list items */
}

.nav-link {
  color: #ffffff; /* Navbar link text color */
  text-decoration: none; /* Remove underline */
}

/* Active link styling */
.nav-link.active,
.nav-link.active:hover {
  border-bottom: 2px solid #ffffff; /* Underline active link */
}

/* Logout button styling */
.navbar-nav button {
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-nav {
    margin: 0; /* Center the links in mobile view */
  }

  .navbar-nav li {
    display: block; /* Display list items vertically in mobile view */
    margin: 5px 0; /* Adjust the margin between list items in mobile view */
  }
}
